### Haskell ###
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dump-hi
*.dyn_hi
*.tix
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog

### agda2hs ###
_build
*.agdai

### Cabal ###
dist
dist-*
.ghc.environment.*
cabal*.project.local*

### Local configs ###
.ghci
hie.yaml
.direnv/
result
vtjust.fifo
